.svg-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

  &.icon-facebook {
    background-image: url('/assets/images/svg-icons/facebook.svg');
    width: 28px;
    height: 28px;
  }

  &.icon-google {
    background-image: url('/assets/images/svg-icons/google.svg');
    width: 28px;
    height: 28px;
  }

  &.icon-bell-alt {
    background-image: url('/assets/images/svg-icons/bell-alt.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-bell-active {
    background-image: url('/assets/images/svg-icons/bell-active.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-chat-alt {
    background-image: url('/assets/images/svg-icons/chat-alt.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-chat-active {
    background-image: url('/assets/images/svg-icons/chat-active.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-flag-alt {
    background-image: url('/assets/images/svg-icons/flag-alt.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-flag-active {
    background-image: url('/assets/images/svg-icons/flag-active.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-friends-alt {
    background-image: url('/assets/images/svg-icons/friends-alt.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-friends-active {
    background-image: url('/assets/images/svg-icons/friends-active.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-video-alt {
    background-image: url('/assets/images/svg-icons/video-alt.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-video-active {
    background-image: url('/assets/images/svg-icons/video-alt.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-config-alt {
    background-image: url('/assets/images/svg-icons/config-alt.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-home-alt {
    background-image: url('/assets/images/svg-icons/home-alt.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-home-active {
    background-image: url('/assets/images/svg-icons/home-active.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-friends-circle-alt {
    background-image: url('/assets/images/svg-icons/friends-circle-alt.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-friends-circle-active {
    background-image: url('/assets/images/svg-icons/friends-circle-active.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-bookmark-colorful {
    background-image: url('/assets/images/svg-icons/bookmark-colorful.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-calendar-colorful {
    background-image: url('/assets/images/svg-icons/calendar-colorful.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-config-colorful {
    background-image: url('/assets/images/svg-icons/config-colorful.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-flag-colorful {
    background-image: url('/assets/images/svg-icons/flag-colorful.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-friends-colorful {
    background-image: url('/assets/images/svg-icons/friends-colorful.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-help-colorful {
    background-image: url('/assets/images/svg-icons/help-colorful.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-history-colorful {
    background-image: url('/assets/images/svg-icons/history-colorful.svg');
    width: 1.5rem;
    height: 1.5rem;
  }

  &.icon-search-colorful {
    background-image: url('/assets/images/svg-icons/search-colorful.svg');
    width: 1.5rem;
    height: 1.5rem;
  }
}
