
.modal-login{
  .modal-header {
  }
  .form-control {
    padding: 0.5rem 0.75rem;
    height:45px;
  }
  .btn-danger-light{
    border: 2px solid $danger;
    color:$danger;
  }
}
.dark-mode{
  .modal-login{
    .modal-header {
      border-bottom:1px solid #333333;
    }
    .form-control {
      height:45px;
      background-color: #333333;
      border-color: #333333;
      color: $light;
    }
    color: $light;
    .close {
      color: $light;
    }
  }

}
.input-group--password,.input-group--username {
  position: relative;
  .form-control {
    padding-left: 3rem;
  }

  .input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    // bottom: 0;
    padding: 0.5rem 1rem;
  }
}
.form-control {
  border-radius: 0.75rem;
}
.btn-lg {
  border-radius: 0.75rem;
}
