.wrap__slider {
  padding: 5px 0 0;
  height: auto;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  // background: #000;

}

.wrap__slider:after {
  content:'';
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/gametv/slideShadown.png");
  background-repeat: no-repeat;
  background-position:  center 450px;
}
.slider__body {
  position: relative;
  z-index: 1;
  min-width: 100%;
  // min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

}
.slider__content {
  position: relative;
  width: 90%;
  min-height: 170px;
  height: auto;
  margin: 0 auto 10px;

}

.item {
  -webkit-transform: scale(.71);
  transform: scale(.71);
  z-index: 0;
}
.item {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .6s,visibility .6s,-webkit-transform .6s;
  transition: opacity .6s,visibility .6s,-webkit-transform .6s;
  transition: transform .6s,opacity .6s,visibility .6s;
  transition: transform .6s,opacity .6s,visibility .6s,-webkit-transform .6s;
  border-radius: 4px;
  // -webkit-box-shadow: 0 0 80px rgba(0,0,0,.3);
  // box-shadow: 0 0 80px rgba(0,0,0,.3);
  overflow: hidden;
}
.item-active{
  visibility: visible;
  opacity: 0.8;
}
.item-prev {
  visibility: visible;
  transform: translateX(-60px) translateY(4px) scale(.71);
  z-index: 1;
  opacity: 1;
}
.item-next {
  visibility: visible;
  transform: translateX(60px) translateY(4px) scale(.71);
  // 331px;
  z-index: 1;
  opacity: 1;
}

.item-center {
  -webkit-transform: translate(0);
  transform: translate(0);
  z-index: 2;
  opacity: 1;
}


// /* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  background: rgba(2,2,2,.45);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  border: 2px solid hsla(0,0%,100%,.15);
  width: 64px;
  height: 64px;
  border-radius: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transition: background-color .3s,color .3s;
  transition: background-color .3s,color .3s;
  img{
    max-width: 35%;
  }
}

// /* Position the "next button" to the right */
// .next {
//   right: 0;
//   border-radius: 3px 0 0 3px;
// }

// /* On hover, add a black background color with a little bit see-through */


._1CdwCGBxlTtHzDUKvfEWsA {
  z-index: 2;
  left: 50%;
  margin-left: -530px;
  // margin-left: -580px;
}
.lKX6s_p6ynVhnaiCZJ25h {
  position: absolute;
  top: calc(50% - 32px);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
._3KOHgGiuwo9eAPvWW3OWXS {
  z-index: 2;
  right: 50%;
  margin-right: -530px;
}
.lKX6s_p6ynVhnaiCZJ25h {
  position: absolute;
  top: calc(50% - 32px);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}
.item__caption {
  position: absolute;
  bottom: 13px;
  left: 10px;
  right: 10px;
}
._2qE8RC7sX1i9XPcjkIsHGt {
  font-weight: 700;
  font-size: 1rem;
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #eb1e25;
  opacity: 0.8;
}
