.container {
  width: 1144px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-repeat: no-repeat;
  // background-size:cover;
  background-color: #eff0f4;
  color: $dark;
}

.gametv-main {
  min-height: 100%;
}


.gametv-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.gametv-subtitle {
  font-size: 1rem;
  font-weight: bold;
}


.gametv-group {
  display: flex;

  >a,
  >button {
    display: flex;
    flex: 1;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}


button.close {
  opacity: 1;
  outline: none;

  .gametv-icon {
    font-weight: inherit;
  }
}


.list-unstyled {
  margin-bottom: 0;
}
button:focus {
  outline: none;
}
.border-radius-025{
  border-radius: 0.25rem;
}

.border-radius-05{
  border-radius: 0.5rem;
}
.border-radius-1{
  border-radius: 1rem;
}
.gapo-box {
  border-radius: 1rem;
  -webkit-box-shadow: 0 1px 3px rgba(26,26,26,.3);
  -moz-box-shadow: 0 1px 3px rgba(26,26,26,.3);
  box-shadow: 0 1px 3px rgba(26,26,26,.3);
  padding: .75rem;
  margin-bottom: .75rem;
  background-color: $light;
}
.post-more{
  color: $dark;
}
.dark-mode{
  body{
    background-color:$dark;
    color: $light;
  }
  .post-more{
    color: $white;
  }
}
.modal-content{
  background-color: $light;
  border-radius: 1rem;
}
.category{
  .gapo-box{
    padding: 0.5rem .5rem;
    border-radius: .5rem;
    box-shadow: 0 0px 0px rgba(26, 26, 26, 0.3);
  }
}
.category-subtitle{
  font-weight:bold;
  color:$dark;
  font-size:0.75rem;
}
.more-tag{
    background-color: $white;
    color: $dark;
    align-items: baseline;
    margin-bottom:0.5rem;
    .tag__item{
      padding: .25rem;
      border-radius: 0.5rem;
      margin-left:0.5rem;
    }
  }
  .gametv-title{
    color:$dark;
  }
.dark-mode{
  .gametv-title{
    color:$white;
  }
  .more-tag{
    background-color: $dark;
    
  }
  body {
    height: 100%;
    background-color: $dark;
    color: $dark;
  }
  .modal-content{
    background-color: #232323;
  }
  .gapo-box {
    background-color: #232323;
  }
  .border-bottom{
    border-bottom: 1px solid #695757 !important;
  }
  .category-subtitle{
    font-weight:bold;
    color:$white;
  }
  .form-control-borderless {
    border: none;
}

  .form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
      border: none;
      outline: none;
      box-shadow: none;
  }
  .more-tag{
    color: $light;
  }
}
.back-top{
  position:fixed;
  right:20px;
  bottom:20px;
  width:50px;
  height:50px;
}
.box-search{
  position: absolute ;
  top:-5px;
  z-index:10;
  left:0;
  right:0;
  display:none;
  background-color : #ed1c24;
  padding: 0.5rem 0; 
}

.btn-auto{
  box-shadow: 0px 0px 10px #000000;
  border-radius:10px;
  
  .btn{
      padding: 0.2rem 0.75rem;
      font-size:1.5rem;
      width:40px;
      height:40px;
      padding: 0.25rem 0;
      
  }
}
.bg__overlay{
  display:none;
  position:absolute;
  top:-75px;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,0.5);
  z-index:11;
}
.menu__wraper{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#c90000;
  z-index:11;
}
.mobile-menu-list{
  list-style: none;
  padding: 4rem 0 0 0;
  margin:0;
  .menu-item{
    display:table;
    width:100%;
    border-bottom: 1px solid #df6666;
  }
  .menu-has-children{
    position: relative;
  }
  .menu-item-name{
    
    // display:block;
    padding: 0.75rem 0.75rem;
    font-weight:bold;
    width: 85%;
    display: inline-block;
    color: #fff;
  }
  .sub-menu-list{
    border-top: 1px solid #df6666;
    list-style: none;
    padding: 0;
    margin:0;
    padding-inline-start: 0px;
    display:none;
    background-color:#b00000;
    .menu-item{
      padding: 0.75rem 2rem;
    }
  }
  .menu-toggle{
    // position:absolute;
    color:$white;
  }
  .icon-toggle{
    img{
      transform: rotate(-180deg)
    }
    
  }
  .current-toggle{
    img{
      transform: rotate(0)
    }
  }
}
.close-menu{
  width:44px;
  height:44px;
  position:absolute;
  left:10px;
  top:10px;
  display:flex;
  align-items:center;
  justify-content:center;
  color:$white;
  background:#c90000;
  font-size:20px;
  font-weight:bold;
}
.w-60{
  width:80%;
}
.w-70{
  width:80%;
}
.w-80{
  width:80%;
}
.modal-content {
  width: 95%;
  margin: auto;
}
.post_sugget {
  background: #e1e1e1;
  padding: 10px 15px;
  border: 1px solid #ddd;
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a{
    color:$dark !important;
  }
  li{
    &:before {
      content: '';
      width: 7px;
      height: 7px;
      background: #ED1C24;
      border-radius: 30px;
      display: inline-block;
      margin-right: 10px;
      position: relative;
      bottom: 2px;
    }
  }
}
.more-info{
  display:flex;
  border-top:1px solid #dcdde3;
  border-bottom:1px solid #dcdde3;
  width:100%;
}
.text-gray-3{
  color :#8a8e9e;
}

.tour-video,.list-news-video{ 
  padding-left: 10px;
  padding-right: 10px;
}

.tour-header{
  border-bottom: 5px solid $danger;
  padding: 0 0 0.5rem 0;
}
.list-news-video__header{
  border-bottom: 3px solid $danger;
  padding: 0 0 0.75rem 0;
}
.part{
  // width: 50px;
  font-size : 0.675rem;
  background-color: #8a8e9e;
  color: #ffffff;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
  padding: 0.25rem 0.35rem;
  margin-bottom: 0.25rem;
}
.part.active,.part-tag.active{
  background-color: $danger !important;
  color: #ffffff !important;

}
.series-icon,.tour-tag-icon{
  font-size: 1rem;
  font-weight: bold;
}
.tour-more{
  font-weight: bold;
  color: #6c7183;
}
.part-tag{
  padding: 0 0.5rem;
  height: 30px;
  background-color: #dcdde3;
  color: #000000 !important;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.675rem;
}
.thumb-video{
  position: relative;
  .icon-video{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width:28px;
    height: 35px;
    margin:auto;
  }
}
.series-icon img{
  width:22px;
}
.tour-tag-icon {
  font-size: 0.675rem;
  font-weight: bold;
}
.post-mobi img {
  max-width: 100%;
  height: auto;
}