{% extends "layouts/default.njk" %}
{% set pageTitle = 'Chi tiết' %}
{% set bodyClasses = '' %}
{% block content %}
<div class="row justify-content-center">
  <div class="container">
    {% include "./components/details-mobi.njk" %}
    <div class="more-tag px-2 py-2 d-flex w-100 flex-row">
        <div class="font-weight-bold">Xem thêm: </div>
        <div class="tag__item gapo-box bg-danger">
            
            <span class="category-subtitle">CSDN</span>
        </div>
        <div class="tag__item gapo-box">
            <span class="category-subtitle">Phim ảnh</span>
        
        </div>
        <div class="tag__item gapo-box">
            <span class="category-subtitle">AOE</span>
        </div>
    </div>
    <div class="p-2">
      <div class="gametv-title">Tin liên quan</div>
    </div>
    {% include "./components/post-mobi.njk" %}
    {% include "./components/post-mobi.njk" %}
    {% include "./components/post-ads.njk" %}
  </div>

</div>
{% include "./components/login-modal.njk" %}
{% include "./components/register-modal.njk" %}

 {% include "./components/box-search.njk" %}
 {% include "./components/menu-mobi.njk" %}
<button onclick="topFunction()" id="backTop" class="btn btn-md btn-danger rounded-circle back-top" title="Go to top">
  <img src ="assets/images/png-icons/icon-up.png" width ="18" />
</button>
{% endblock %}
