{% extends "layouts/default.njk" %}
{% set pageTitle = 'Icon' %}
{% set bodyClasses = '' %}
{% block content %}
<style>
  body {
    background-color: #f6f6f6 !important;
    color: #333 !important;
  }

  .glyph {}

  .glyph .item {}

  .glyph .item:hover {
    background: #4dadf7;
    color: #fff !important;
    box-shadow: 0 0.25rem 0.125rem 0 rgba(0, 0, 0, .05);
  }

  .glyph-name {
    line-height: 1.5;
  }
</style>
<br />
<h1 class="text-center">gapo-icon</h1>
<br />
<div class="glyph clearfix">
  <div class="row">
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA01">
        <i class="gapo-icon icon-alert-alt icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">alert-alt</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA01</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA02">
        <i class="gapo-icon icon-bookmark-alt icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">bookmark-alt</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA02</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA03">
        <i class="gapo-icon icon-briefcase icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">briefcase</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA03</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA04">
        <i class="gapo-icon icon-camera-alt icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">camera-alt</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA04</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA05">
        <i class="gapo-icon icon-like icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">like</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA05</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA06">
        <i class="gapo-icon icon-verify icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">verify</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA06</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA07">
        <i class="gapo-icon icon-close-alt icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">close-alt</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA07</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA08">
        <i class="gapo-icon icon-comment-alt icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">comment-alt</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA08</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA09">
        <i class="gapo-icon icon-config icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">config</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA09</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA0A">
        <i class="gapo-icon icon-emotion-alt icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">emotion-alt</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA0A</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA0B">
        <i class="gapo-icon icon-friends-alt icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">friends-alt</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA0B</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA0C">
        <i class="gapo-icon icon-friends icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">friends</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA0C</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA0D">
        <i class="gapo-icon icon-globe-alt icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">globe-alt</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA0D</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA0E">
        <i class="gapo-icon icon-graduation-cap-alt icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">graduation-cap-alt</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA0E</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA0F">
        <i class="gapo-icon icon-home-alt icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">home-alt</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA0F</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA10">
        <i class="gapo-icon icon-lock icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">lock</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA10</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA11">
        <i class="gapo-icon icon-pencil-alt icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">pencil-alt</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA11</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA12">
        <i class="gapo-icon icon-picture-landscape icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">picture-landscape</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA12</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA13">
        <i class="gapo-icon icon-plus-circle icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">plus-circle</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA13</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA14">
        <i class="gapo-icon icon-search-alt icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">search-alt</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA14</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA15">
        <i class="gapo-icon icon-share-alt icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">share-alt</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA15</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA16">
        <i class="gapo-icon icon-trash-alt icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">trash-alt</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA16</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA17">
        <i class="gapo-icon icon-eye-slash icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">eye-slash</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA17</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA18">
        <i class="gapo-icon icon-location icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">location</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA18</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA19">
        <i class="gapo-icon icon-eye icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">eye</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA19</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA1A">
        <i class="gapo-icon icon-close icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">close</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA1A</span> #}
        </div>
      </div>
    </div>
    
    <div class="col-xl-1 col-lg-2 col-md-2 col-sm-3 col-xs-4 col-4 pl-2 pr-2 mb-1">
      <div class="px-2 py-3 item d-flex align-items-center flex-column rounded h-100"
        title="EA1B">
        <i class="gapo-icon icon-more-option icon-2x"></i>
        <div style="margin-top: 5px">
          <span class="glyph-name d-block text-truncate">more-option</span>
          {# <br/> #}
          {# <span class="glyph-codepoint">EA1B</span> #}
        </div>
      </div>
    </div>
    
  </div>
</div>
{% endblock %}