{% extends "layouts/default.njk" %}
{% set pageTitle = 'Chi tiết' %}
{% set bodyClasses = '' %}
{% block content %}
<div class="row justify-content-center">
  <div class="container">
    {% include "./components/details-video.njk" %}
    
  </div>

</div>
{% include "./components/login-modal.njk" %}
{% include "./components/register-modal.njk" %}

 {% include "./components/box-search.njk" %}
 {% include "./components/menu-mobi.njk" %}
<button onclick="topFunction()" id="backTop" class="btn btn-md btn-danger rounded-circle back-top" title="Go to top">
  <img src ="assets/images/png-icons/icon-up.png" width ="18" />
</button>
{% endblock %}
