/*!
 * gametv
 * 
 * 
 * @author Thanh Long Pham
 * @version 1.0.0
 * Copyright 2020. MIT licensed.
 */@charset "UTF-8";
/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://gitlab.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

.small-gutters {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.small-gutters > .col,
.small-gutters > [class*="col-"] {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.col-256 {
  max-width: 16.75rem;
}

.col-500 {
  max-width: 32rem;
}

.col-1168 {
  max-width: 73.75rem;
}

.col-772 {
  max-width: 49rem;
}

.col-396 {
  max-width: 25.5rem;
}

.col-1144 {
  max-width: 72.25rem;
}

.col-734 {
  max-width: 46rem;
}

.col-380 {
  max-width: 24.5rem;
}

.col-292 {
  max-width: 19rem;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SF-Pro-Text-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SF-Pro-Text-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SF-Pro-Text-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SF-Pro-Text-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SF-Pro-Text-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "gapo-icon";
  src: url("../fonts/gapo-icon.eot");
  src: url("../fonts/gapo-icon.eot?#iefix") format("eot"), url("../fonts/gapo-icon.woff2") format("woff2"), url("../fonts/gapo-icon.woff") format("woff"), url("../fonts/gapo-icon.ttf") format("truetype"), url("../fonts/gapo-icon.svg#gapo-icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.gapo-icon {
  display: inline-block;
  font-family: "gapo-icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gapo-icon .icon-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.gapo-icon .icon-2x {
  font-size: 2em;
}

.gapo-icon .icon-3x {
  font-size: 3em;
}

.gapo-icon .icon-4x {
  font-size: 4em;
}

.gapo-icon .icon-5x {
  font-size: 5em;
}

.gapo-icon .icon-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.gapo-icon.icon-alert-alt:before {
  content: "\EA01";
}

.gapo-icon.icon-bookmark-alt:before {
  content: "\EA02";
}

.gapo-icon.icon-briefcase:before {
  content: "\EA03";
}

.gapo-icon.icon-camera-alt:before {
  content: "\EA04";
}

.gapo-icon.icon-like:before {
  content: "\EA05";
}

.gapo-icon.icon-verify:before {
  content: "\EA06";
}

.gapo-icon.icon-close-alt:before {
  content: "\EA07";
}

.gapo-icon.icon-comment-alt:before {
  content: "\EA08";
}

.gapo-icon.icon-config:before {
  content: "\EA09";
}

.gapo-icon.icon-emotion-alt:before {
  content: "\EA0A";
}

.gapo-icon.icon-friends-alt:before {
  content: "\EA0B";
}

.gapo-icon.icon-friends:before {
  content: "\EA0C";
}

.gapo-icon.icon-globe-alt:before {
  content: "\EA0D";
}

.gapo-icon.icon-graduation-cap-alt:before {
  content: "\EA0E";
}

.gapo-icon.icon-home-alt:before {
  content: "\EA0F";
}

.gapo-icon.icon-lock:before {
  content: "\EA10";
}

.gapo-icon.icon-pencil-alt:before {
  content: "\EA11";
}

.gapo-icon.icon-picture-landscape:before {
  content: "\EA12";
}

.gapo-icon.icon-plus-circle:before {
  content: "\EA13";
}

.gapo-icon.icon-search-alt:before {
  content: "\EA14";
}

.gapo-icon.icon-share-alt:before {
  content: "\EA15";
}

.gapo-icon.icon-trash-alt:before {
  content: "\EA16";
}

.gapo-icon.icon-eye-slash:before {
  content: "\EA17";
}

.gapo-icon.icon-location:before {
  content: "\EA18";
}

.gapo-icon.icon-eye:before {
  content: "\EA19";
}

.gapo-icon.icon-close:before {
  content: "\EA1A";
}

.gapo-icon.icon-more-option:before {
  content: "\EA1B";
}

.svg-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 100% auto;
     -moz-background-size: 100% auto;
          background-size: 100% auto;
}

.svg-icon.icon-facebook {
  background-image: url("/assets/images/svg-icons/facebook.svg");
  width: 28px;
  height: 28px;
}

.svg-icon.icon-google {
  background-image: url("/assets/images/svg-icons/google.svg");
  width: 28px;
  height: 28px;
}

.svg-icon.icon-bell-alt {
  background-image: url("/assets/images/svg-icons/bell-alt.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-bell-active {
  background-image: url("/assets/images/svg-icons/bell-active.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-chat-alt {
  background-image: url("/assets/images/svg-icons/chat-alt.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-chat-active {
  background-image: url("/assets/images/svg-icons/chat-active.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-flag-alt {
  background-image: url("/assets/images/svg-icons/flag-alt.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-flag-active {
  background-image: url("/assets/images/svg-icons/flag-active.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-friends-alt {
  background-image: url("/assets/images/svg-icons/friends-alt.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-friends-active {
  background-image: url("/assets/images/svg-icons/friends-active.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-video-alt {
  background-image: url("/assets/images/svg-icons/video-alt.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-video-active {
  background-image: url("/assets/images/svg-icons/video-alt.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-config-alt {
  background-image: url("/assets/images/svg-icons/config-alt.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-home-alt {
  background-image: url("/assets/images/svg-icons/home-alt.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-home-active {
  background-image: url("/assets/images/svg-icons/home-active.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-friends-circle-alt {
  background-image: url("/assets/images/svg-icons/friends-circle-alt.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-friends-circle-active {
  background-image: url("/assets/images/svg-icons/friends-circle-active.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-bookmark-colorful {
  background-image: url("/assets/images/svg-icons/bookmark-colorful.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-calendar-colorful {
  background-image: url("/assets/images/svg-icons/calendar-colorful.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-config-colorful {
  background-image: url("/assets/images/svg-icons/config-colorful.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-flag-colorful {
  background-image: url("/assets/images/svg-icons/flag-colorful.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-friends-colorful {
  background-image: url("/assets/images/svg-icons/friends-colorful.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-help-colorful {
  background-image: url("/assets/images/svg-icons/help-colorful.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-history-colorful {
  background-image: url("/assets/images/svg-icons/history-colorful.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.svg-icon.icon-search-colorful {
  background-image: url("/assets/images/svg-icons/search-colorful.svg");
  width: 1.5rem;
  height: 1.5rem;
}

.font-size-large {
  font-size: 1rem;
}

.font-size-small {
  font-size: 0.75rem;
}

.font-weight-medium {
  font-weight: 500;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.font-size-normal {
  font-size: 0.875rem;
}

.line-height {
  line-height: 1.4;
}

.container {
  width: 1144px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-repeat: no-repeat;
  background-color: #eff0f4;
  color: #161616;
}

.gametv-main {
  min-height: 100%;
}

.gametv-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.gametv-subtitle {
  font-size: 1rem;
  font-weight: bold;
}

.gametv-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.gametv-group > a,
.gametv-group > button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

button.close {
  opacity: 1;
  outline: none;
}

button.close .gametv-icon {
  font-weight: inherit;
}

.list-unstyled {
  margin-bottom: 0;
}

button:focus {
  outline: none;
}

.border-radius-025 {
  -webkit-border-radius: 0.25rem;
     -moz-border-radius: 0.25rem;
          border-radius: 0.25rem;
}

.border-radius-05 {
  -webkit-border-radius: 0.5rem;
     -moz-border-radius: 0.5rem;
          border-radius: 0.5rem;
}

.border-radius-1 {
  -webkit-border-radius: 1rem;
     -moz-border-radius: 1rem;
          border-radius: 1rem;
}

.gapo-box {
  -webkit-border-radius: 1rem;
     -moz-border-radius: 1rem;
          border-radius: 1rem;
  -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(26, 26, 26, 0.3);
  box-shadow: 0 1px 3px rgba(26, 26, 26, 0.3);
  padding: .75rem;
  margin-bottom: .75rem;
  background-color: #ffffff;
}

.post-more {
  color: #161616;
}

.dark-mode body {
  background-color: #161616;
  color: #ffffff;
}

.dark-mode .post-more {
  color: #fff;
}

.modal-content {
  background-color: #ffffff;
  -webkit-border-radius: 1rem;
     -moz-border-radius: 1rem;
          border-radius: 1rem;
}

.category .gapo-box {
  padding: 0.5rem .5rem;
  -webkit-border-radius: .5rem;
     -moz-border-radius: .5rem;
          border-radius: .5rem;
  -webkit-box-shadow: 0 0px 0px rgba(26, 26, 26, 0.3);
     -moz-box-shadow: 0 0px 0px rgba(26, 26, 26, 0.3);
          box-shadow: 0 0px 0px rgba(26, 26, 26, 0.3);
}

.category-subtitle {
  font-weight: bold;
  color: #161616;
  font-size: 0.75rem;
}

.more-tag {
  background-color: #fff;
  color: #161616;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
     -moz-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 0.5rem;
}

.more-tag .tag__item {
  padding: .25rem;
  -webkit-border-radius: 0.5rem;
     -moz-border-radius: 0.5rem;
          border-radius: 0.5rem;
  margin-left: 0.5rem;
}

.gametv-title {
  color: #161616;
}

.dark-mode .gametv-title {
  color: #fff;
}

.dark-mode .more-tag {
  background-color: #161616;
}

.dark-mode body {
  height: 100%;
  background-color: #161616;
  color: #161616;
}

.dark-mode .modal-content {
  background-color: #232323;
}

.dark-mode .gapo-box {
  background-color: #232323;
}

.dark-mode .border-bottom {
  border-bottom: 1px solid #695757 !important;
}

.dark-mode .category-subtitle {
  font-weight: bold;
  color: #fff;
}

.dark-mode .form-control-borderless {
  border: none;
}

.dark-mode .form-control-borderless:hover, .dark-mode .form-control-borderless:active, .dark-mode .form-control-borderless:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.dark-mode .more-tag {
  color: #ffffff;
}

.back-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
}

.box-search {
  position: absolute;
  top: -5px;
  z-index: 10;
  left: 0;
  right: 0;
  display: none;
  background-color: #ed1c24;
  padding: 0.5rem 0;
}

.btn-auto {
  -webkit-box-shadow: 0px 0px 10px #000000;
     -moz-box-shadow: 0px 0px 10px #000000;
          box-shadow: 0px 0px 10px #000000;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}

.btn-auto .btn {
  padding: 0.2rem 0.75rem;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  padding: 0.25rem 0;
}

.bg__overlay {
  display: none;
  position: absolute;
  top: -75px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11;
}

.menu__wraper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c90000;
  z-index: 11;
}

.mobile-menu-list {
  list-style: none;
  padding: 4rem 0 0 0;
  margin: 0;
}

.mobile-menu-list .menu-item {
  display: table;
  width: 100%;
  border-bottom: 1px solid #df6666;
}

.mobile-menu-list .menu-has-children {
  position: relative;
}

.mobile-menu-list .menu-item-name {
  padding: 0.75rem 0.75rem;
  font-weight: bold;
  width: 85%;
  display: inline-block;
  color: #fff;
}

.mobile-menu-list .sub-menu-list {
  border-top: 1px solid #df6666;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-padding-start: 0px;
     -moz-padding-start: 0px;
          padding-inline-start: 0px;
  display: none;
  background-color: #b00000;
}

.mobile-menu-list .sub-menu-list .menu-item {
  padding: 0.75rem 2rem;
}

.mobile-menu-list .menu-toggle {
  color: #fff;
}

.mobile-menu-list .icon-toggle img {
  -webkit-transform: rotate(-180deg);
     -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
       -o-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.mobile-menu-list .current-toggle img {
  -webkit-transform: rotate(0);
     -moz-transform: rotate(0);
      -ms-transform: rotate(0);
       -o-transform: rotate(0);
          transform: rotate(0);
}

.close-menu {
  width: 44px;
  height: 44px;
  position: absolute;
  left: 10px;
  top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  background: #c90000;
  font-size: 20px;
  font-weight: bold;
}

.w-60 {
  width: 80%;
}

.w-70 {
  width: 80%;
}

.w-80 {
  width: 80%;
}

.modal-content {
  width: 95%;
  margin: auto;
}

.post_sugget {
  background: #e1e1e1;
  padding: 10px 15px;
  border: 1px solid #ddd;
}

.post_sugget ul, .post_sugget li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.post_sugget a {
  color: #161616 !important;
}

.post_sugget li:before {
  content: '';
  width: 7px;
  height: 7px;
  background: #ED1C24;
  -webkit-border-radius: 30px;
     -moz-border-radius: 30px;
          border-radius: 30px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  bottom: 2px;
}

.more-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #dcdde3;
  border-bottom: 1px solid #dcdde3;
  width: 100%;
}

.text-gray-3 {
  color: #8a8e9e;
}

.tour-video, .list-news-video {
  padding-left: 10px;
  padding-right: 10px;
}

.tour-header {
  border-bottom: 5px solid #ed1c24;
  padding: 0 0 0.5rem 0;
}

.list-news-video__header {
  border-bottom: 3px solid #ed1c24;
  padding: 0 0 0.75rem 0;
}

.part {
  font-size: 0.675rem;
  background-color: #8a8e9e;
  color: #ffffff;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  font-weight: bold;
  padding: 0.25rem 0.35rem;
  margin-bottom: 0.25rem;
}

.part.active, .part-tag.active {
  background-color: #ed1c24 !important;
  color: #ffffff !important;
}

.series-icon, .tour-tag-icon {
  font-size: 1rem;
  font-weight: bold;
}

.tour-more {
  font-weight: bold;
  color: #6c7183;
}

.part-tag {
  padding: 0 0.5rem;
  height: 30px;
  background-color: #dcdde3;
  color: #000000 !important;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  font-weight: bold;
  font-size: 0.675rem;
}

.thumb-video {
  position: relative;
}

.thumb-video .icon-video {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 28px;
  height: 35px;
  margin: auto;
}

.series-icon img {
  width: 22px;
}

.tour-tag-icon {
  font-size: 0.675rem;
  font-weight: bold;
}

.post-mobi img {
  max-width: 100%;
  height: auto;
}

.gametv-topbar {
  background-color: #fff;
  height: 38px;
}

ul.topbar__login a {
  padding: 0.75rem 1rem;
  font-weight: bold;
  font-size: 0.875rem;
}

.header__menu {
  height: 75px;
}

.checkbox-darkmode {
  width: 50px;
  height: 24px;
  -webkit-border-radius: 11.5px;
     -moz-border-radius: 11.5px;
          border-radius: 11.5px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  -moz-transition: all .8s ease;
  transition: all .8s ease;
  background-color: #ed1c24;
  background-image: url("../images/png-icons/icon-moon.png");
  background-repeat: no-repeat;
  background-position: 0.5rem 0.45rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.2rem;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
     -moz-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.checkbox-darkmode span {
  width: 18px;
  height: 18px;
  background: #fff;
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  -webkit-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 8px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(0, 0, 0, 0.16), 0 3px 8px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  display: block;
}

.gametv-header {
  height: 70px;
  background-image: url("../images/gametv/bgHeaderWhite.jpg");
  background-position: center center;
  background-repeat: repeat-x;
}

.bg-grays {
  background-color: #f1f1f1;
}

.header__logo {
  height: 70px;
}

.gametv-navbar.fixed {
  position: fixed;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  -moz-transition: all .8s ease;
  transition: all .8s ease;
}

.gametv-navbar {
  height: 80px;
}

.gametv-navbar .navbar-collapse .navbar-nav {
  height: 80px;
  list-style: none;
  -webkit-border-bottom-left-radius: 20px;
     -moz-border-radius-bottomleft: 20px;
          border-bottom-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
     -moz-border-radius-bottomright: 20px;
          border-bottom-right-radius: 20px;
  background-color: #ed1c24;
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item:first-child a {
  -webkit-border-bottom-left-radius: 20px;
     -moz-border-radius-bottomleft: 20px;
          border-bottom-left-radius: 20px;
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item:last-child a {
  -webkit-border-bottom-right-radius: 20px;
     -moz-border-radius-bottomright: 20px;
          border-bottom-right-radius: 20px;
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item:hover .dropdown-menu {
  display: block;
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item a {
  padding: 0.5rem 0.875rem;
  font-weight: bold;
  color: #fff;
  font-size: 0.875rem;
  text-align: center;
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item a:hover {
  color: #ed1c24;
  background-color: #fff;
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu {
  display: none;
  border: none;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #ed1c24;
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  color: #fff;
  background-color: #ed1c24;
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-nav {
  width: 60px;
  height: 45px;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  margin: auto;
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-home .icon-nav {
  background-image: url("../images/png-icons/icon-home.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-home:hover .icon-nav {
  background-image: url("../images/png-icons/icon-home-red.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-aoe .icon-nav {
  background-image: url("../images/png-icons/icon-aoe.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-aoe:hover .icon-nav {
  background-image: url("../images/png-icons/icon-aoe-red.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-fps .icon-nav {
  background-image: url("../images/png-icons/icon-fps.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-fps:hover .icon-nav {
  background-image: url("../images/png-icons/icon-fps-red.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-moba .icon-nav {
  background-image: url("../images/png-icons/icon-moba.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-moba:hover .icon-nav {
  background-image: url("../images/png-icons/icon-moba-red.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-sport .icon-nav {
  background-image: url("../images/png-icons/icon-sport.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-sport:hover .icon-nav {
  background-image: url("../images/png-icons/icon-sport-red.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-rts .icon-nav {
  background-image: url("../images/png-icons/icon-rts.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-rts:hover .icon-nav {
  background-image: url("../images/png-icons/icon-rts-red.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-online .icon-nav {
  background-image: url("../images/png-icons/icon-online.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-online:hover .icon-nav {
  background-image: url("../images/png-icons/icon-online-red.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-congnghe .icon-nav {
  background-image: url("../images/png-icons/icon-congnghe.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-congnghe:hover .icon-nav {
  background-image: url("../images/png-icons/icon-congnge-red.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-giaidau .icon-nav {
  background-image: url("../images/png-icons/icon-giaidau.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-giaidau:hover .icon-nav {
  background-image: url("../images/png-icons/icon-giaidau-red.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-console .icon-nav {
  background-image: url("../images/png-icons/icon-console.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-console:hover .icon-nav {
  background-image: url("../images/png-icons/icon-console-red.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-video .icon-nav {
  background-image: url("../images/png-icons/icon-video.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-video:hover .icon-nav {
  background-image: url("../images/png-icons/icon-video-red.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-lienhe .icon-nav {
  background-image: url("../images/png-icons/icon-lienhe.png");
}

.gametv-navbar .navbar-collapse .navbar-nav .nav-item .icon-lienhe:hover .icon-nav {
  background-image: url("../images/png-icons/icon-lienhe-red.png");
}

.search__header .form-control {
  height: 28px;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  -webkit-border-radius: 0.875rem;
     -moz-border-radius: 0.875rem;
          border-radius: 0.875rem;
  background-color: #ced4da;
}

.header__logo-darkmode {
  display: none;
}

.topbar__auth {
  color: #161616;
}

.dark-mode .topbar__auth {
  color: #fff;
}

.dark-mode .gametv-topbar {
  background-color: #1b1b1b;
}

.dark-mode ul.topbar__login a {
  color: #fff;
}

.dark-mode .checkbox-darkmode {
  background-image: url("../images/png-icons/icon-light.png");
  background-position: 25px 5px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  cursor: pointer;
}

.dark-mode .gametv-header {
  height: 70px;
  background-image: none;
  background-position: none;
  background-repeat: none;
  color: #fff;
}

.dark-mode .header__logo-lightmode {
  display: none;
}

.dark-mode .header__logo-darkmode {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.dark-mode .search__header .form-control {
  background-color: #2d2d2d;
  border: 1px solid #2d2d2d;
  color: #fff;
}

.dark-mode .topbar__menu a {
  color: #fff;
}

.count-mail {
  position: relative;
  background: #bfc1cd;
  color: #fff;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  font-size: 0.5rem;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -8px;
  left: -15px;
}

.auth-footer {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.footer {
  background-color: #fff;
  height: 251px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 3px rgba(26, 26, 26, 0.3);
     -moz-box-shadow: 0 1px 3px rgba(26, 26, 26, 0.3);
          box-shadow: 0 1px 3px rgba(26, 26, 26, 0.3);
}

.dark-mode .gametv-subtitle {
  color: #fff;
}

.dark-mode .footer {
  background-color: #161616;
}

.modal-login .form-control {
  padding: 0.5rem 0.75rem;
  height: 45px;
}

.modal-login .btn-danger-light {
  border: 2px solid #ed1c24;
  color: #ed1c24;
}

.dark-mode .modal-login {
  color: #ffffff;
}

.dark-mode .modal-login .modal-header {
  border-bottom: 1px solid #333333;
}

.dark-mode .modal-login .form-control {
  height: 45px;
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}

.dark-mode .modal-login .close {
  color: #ffffff;
}

.input-group--password, .input-group--username {
  position: relative;
}

.input-group--password .form-control, .input-group--username .form-control {
  padding-left: 3rem;
}

.input-group--password .input-icon, .input-group--username .input-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5rem 1rem;
}

.form-control {
  -webkit-border-radius: 0.75rem;
     -moz-border-radius: 0.75rem;
          border-radius: 0.75rem;
}

.btn-lg {
  -webkit-border-radius: 0.75rem;
     -moz-border-radius: 0.75rem;
          border-radius: 0.75rem;
}

.modal--otp .modal-body {
  padding: 2.5rem;
}

.modal--otp .modal-dialog {
  max-width: 558px;
}

.modal--simple button.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.gapo-avatar {
  display: block;
  background-color: #f2f2f2;
  overflow: hidden;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
}

.gapo-avatar.gapo-avatar--32 {
  width: 2rem;
}

.gapo-avatar.gapo-avatar--24 {
  width: 1.5rem;
}

.gapo-avatar.gapo-avatar--56 {
  width: 3.5rem;
}

.gapo-avatar.gapo-avatar--40 {
  width: 2.5rem;
}

.gapo-avatar.gapo-avatar--48 {
  width: 3rem;
}

.gapo-avatar.gapo-avatar--64 {
  width: 4rem;
}

.gapo-avatar::after {
  content: '';
  padding-top: 100%;
  display: block;
}

.gapo-avatar img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.gapo-aside {
  background-color: #fff;
  min-height: -webkit-calc(100vh - 3.5rem);
  min-height: -moz-calc(100vh - 3.5rem);
  min-height: calc(100vh - 3.5rem);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.aside__wrapper {
  height: 100%;
  position: relative;
  background-color: #fff;
}

.post-item__attachment {
  margin: -0.125rem;
  display: block;
}

.post-item__attachment::after {
  display: block;
  clear: both;
  content: "";
}

.post-item__attachment.post-item__attachment--link {
  margin: 0;
}

.post-item__attachment .attachment__item {
  padding: 0.125rem;
  float: left;
  width: 100%;
}

.post-item__attachment .attachment__item > a {
  display: block;
  position: relative;
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f2f2f2;
}

.post-item__attachment .attachment__item > a .gapo-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #fff;
  font-size: 2rem;
  width: 2rem;
  height: 2rem;
}

.post-item__attachment .attachment__item > a .more-photo {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}

.post-item__attachment .attachment__item > a::before {
  content: '';
  display: block;
}

.post-item__attachment.post-item__attachment--1 img {
  width: 100%;
}

.post-item__attachment.post-item__attachment--1 .attachment__item--1 {
  background: none !important;
}

.post-item__attachment.post-item__attachment--1 .attachment__item .gapo-icon {
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
}

.post-item__attachment.post-item__attachment--2 img {
  display: none;
}

.post-item__attachment.post-item__attachment--2 .attachment__item--1,
.post-item__attachment.post-item__attachment--2 .attachment__item--2 {
  width: 50%;
}

.post-item__attachment.post-item__attachment--2 .attachment__item--1 > a::before,
.post-item__attachment.post-item__attachment--2 .attachment__item--2 > a::before {
  padding-top: 100%;
}

.post-item__attachment.post-item__attachment--2 .attachment__item .gapo-icon {
  font-size: 2.5rem;
  width: 2.5rem;
  height: 2.5rem;
}

.post-item__attachment.post-item__attachment--3 img {
  display: none;
}

.post-item__attachment.post-item__attachment--3 .attachment__item--1,
.post-item__attachment.post-item__attachment--3 .attachment__item--2,
.post-item__attachment.post-item__attachment--3 .attachment__item--3 {
  width: 33.33333333%;
}

.post-item__attachment.post-item__attachment--3 .attachment__item--1 > a::before,
.post-item__attachment.post-item__attachment--3 .attachment__item--2 > a::before,
.post-item__attachment.post-item__attachment--3 .attachment__item--3 > a::before {
  padding-top: 100%;
}

.post-item__attachment.post-item__attachment--4 img {
  display: none;
}

.post-item__attachment.post-item__attachment--4 .attachment__item--1 {
  width: 100%;
}

.post-item__attachment.post-item__attachment--4 .attachment__item--1 > a::before {
  padding-top: 66.6666667%;
}

.post-item__attachment.post-item__attachment--4 .attachment__item--2,
.post-item__attachment.post-item__attachment--4 .attachment__item--3,
.post-item__attachment.post-item__attachment--4 .attachment__item--4 {
  width: 33.33333333%;
}

.post-item__attachment.post-item__attachment--4 .attachment__item--2 > a::before,
.post-item__attachment.post-item__attachment--4 .attachment__item--3 > a::before,
.post-item__attachment.post-item__attachment--4 .attachment__item--4 > a::before {
  padding-top: 100%;
}

.post-item__attachment.post-item__attachment--5 img {
  display: none;
}

.post-item__attachment.post-item__attachment--5 .attachment__item--1,
.post-item__attachment.post-item__attachment--5 .attachment__item--2 {
  width: 50%;
}

.post-item__attachment.post-item__attachment--5 .attachment__item--1 > a::before,
.post-item__attachment.post-item__attachment--5 .attachment__item--2 > a::before {
  padding-top: 100%;
}

.post-item__attachment.post-item__attachment--5 .attachment__item--3,
.post-item__attachment.post-item__attachment--5 .attachment__item--4,
.post-item__attachment.post-item__attachment--5 .attachment__item--5 {
  width: 33.33333333%;
}

.post-item__attachment.post-item__attachment--5 .attachment__item--3 > a::before,
.post-item__attachment.post-item__attachment--5 .attachment__item--4 > a::before,
.post-item__attachment.post-item__attachment--5 .attachment__item--5 > a::before {
  padding-top: 100%;
}

.post-link__thumbnail {
  -webkit-background-size: cover;
     -moz-background-size: cover;
          background-size: cover;
}

.post-link__thumbnail img {
  display: none;
}

.post-link__info {
  background-color: #e6e6e6;
  padding: 0.5rem 0.75rem;
  line-height: 1.5;
}

.post-link__title {
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.post-link__source {
  color: #808080;
}

.title__news {
  background-color: #ed1c24;
  height: 37px;
  padding: 0px 45px 0 15px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
}

.title__news::before {
  content: '';
  width: 20px;
  height: 37px;
  background-image: url("../images/png-icons/icon-flag2.png");
  background-repeat: no-repeat;
  position: absolute;
  right: -19px;
  top: 0px;
}

.title__news::after {
  content: '';
  width: 7px;
  height: 56px;
  background-image: url("../images/png-icons/icon-flag1.png");
  background-repeat: no-repeat;
  position: absolute;
  left: -3px;
  top: 0px;
}

.navbar__right ul li a {
  display: block;
  font-weight: bold;
  width: 100%;
  color: #fff !important;
}

.navbar__right--2 ul li {
  width: 48%;
}

.navbar__right--2 ul li + li {
  margin-left: 2%;
}

.navbar__right--3 ul li {
  width: 30%;
}

.navbar__right--3 ul li + li {
  margin-left: 2%;
}

.navbar__right--4 ul li {
  width: 22.5%;
}

.navbar__right--4 ul li + li {
  margin-left: 2%;
}

.border-left-radius-20 {
  -webkit-border-top-left-radius: 16px;
     -moz-border-radius-topleft: 16px;
          border-top-left-radius: 16px;
  -webkit-border-bottom-left-radius: 16px;
     -moz-border-radius-bottomleft: 16px;
          border-bottom-left-radius: 16px;
}

.border-right-radius-20 {
  -webkit-border-top-right-radius: 16px;
     -moz-border-radius-topright: 16px;
          border-top-right-radius: 16px;
  -webkit-border-bottom-right-radius: 16px;
     -moz-border-radius-bottomright: 16px;
          border-bottom-right-radius: 16px;
}

.bg-gray {
  background-color: #4a4a4a;
}

.post-mobi {
  color: #161616;
  background-color: #fff;
}

.dark-mode a {
  color: #fff;
}

.dark-mode a:hover {
  color: #ced4da;
}

.dark-mode .post-mobi {
  color: #fff;
  background-color: #232323;
}

.dark-mode .gapo-box .gametv-subtitle {
  color: #fff;
}

.dark-mode .post-item__content {
  color: #fff;
}

.side-menu__item {
  padding: 0.625rem 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.side-menu__item:hover {
  color: inherit;
  opacity: 0.9;
  background-color: #f5f5f5;
}

.side-menu__item .svg-icon {
  margin-right: 0.75rem;
}

.wrap {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 100%;
  padding: 0 0px;
  overflow: hidden;
}

.wrap:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/gametv/slideShadown.png");
  background-repeat: no-repeat;
  background-position: center 400px;
}

.slider {
  position: relative;
  z-index: 200;
  padding: 0 0px;
  margin: 10px auto 90px auto;
  width: 100%;
}

.slider img {
  max-width: 100%;
  width: 100%;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 60px;
  line-height: 50px;
  margin-top: -30px;
  border: none;
  background: transparent;
  color: #fff;
  font-family: monospace;
  font-size: 5rem;
  z-index: 300;
  outline: none;
}

.slick-prev {
  left: 0px;
  text-align: left;
  text-indent: -9999rem;
  background-image: url("../images/png-icons/icon-prev.png");
  background-repeat: no-repeat;
}

.slick-next {
  right: 0px;
  text-indent: -9999rem;
  background-image: url("../images/png-icons/icon-next.png");
  background-repeat: no-repeat;
}

.slick-slide {
  width: 733px;
  height: 426px !important;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  -o-transition: -o-transform 1s;
  -moz-transition: transform 1s, -moz-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s, -moz-transform 1s, -o-transform 1s;
  position: relative;
  -webkit-border-radius: 20px;
     -moz-border-radius: 20px;
          border-radius: 20px;
  overflow: hidden;
}

.slick-slide > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.slick-slide:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  -o-transition: -o-transform .4s;
  -moz-transition: transform .4s, -moz-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s, -moz-transform .4s, -o-transform .4s;
}

.slick-slide.slick-center + .slick-slide {
  -webkit-transform: scale(0.71) translateX(-590px);
     -moz-transform: scale(0.71) translateX(-590px);
      -ms-transform: scale(0.71) translateX(-590px);
       -o-transform: scale(0.71) translateX(-590px);
          transform: scale(0.71) translateX(-590px);
  z-index: 10;
  opacity: 0.8;
}

.slick-slide.slick-active {
  -webkit-transform: scale(0.71) translateX(590px);
     -moz-transform: scale(0.71) translateX(590px);
      -ms-transform: scale(0.71) translateX(590px);
       -o-transform: scale(0.71) translateX(590px);
          transform: scale(0.71) translateX(590px);
  opacity: 0.8;
}

.slick-slide.slick-center {
  /* margin: 0 -10%; */
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
  -webkit-transform: translate(0);
     -moz-transform: translate(0);
      -ms-transform: translate(0);
       -o-transform: translate(0);
          transform: translate(0);
  z-index: 30;
  opacity: 1;
}

.slick-center:after {
  opacity: 0;
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 56px;
  line-height: 20px;
  position: absolute;
  top: 20;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #ed1c24;
}

.wrap__slider {
  padding: 5px 0 0;
  height: auto;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  position: relative;
}

.wrap__slider:after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/gametv/slideShadown.png");
  background-repeat: no-repeat;
  background-position: center 450px;
}

.slider__body {
  position: relative;
  z-index: 1;
  min-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
       flex-direction: column;
}

.slider__content {
  position: relative;
  width: 90%;
  min-height: 170px;
  height: auto;
  margin: 0 auto 10px;
}

.item {
  -webkit-transform: scale(0.71);
  -moz-transform: scale(0.71);
   -ms-transform: scale(0.71);
    -o-transform: scale(0.71);
       transform: scale(0.71);
  z-index: 0;
}

.item {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .6s,visibility .6s,-webkit-transform .6s;
  transition: opacity .6s,visibility .6s,-webkit-transform .6s;
  -o-transition: opacity .6s,visibility .6s,-o-transform .6s;
  -moz-transition: transform .6s,opacity .6s,visibility .6s,-moz-transform .6s;
  transition: transform .6s,opacity .6s,visibility .6s;
  transition: transform .6s,opacity .6s,visibility .6s,-webkit-transform .6s,-moz-transform .6s,-o-transform .6s;
  transition: transform .6s,opacity .6s,visibility .6s,-webkit-transform .6s;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  overflow: hidden;
}

.item-active {
  visibility: visible;
  opacity: 0.8;
}

.item-prev {
  visibility: visible;
  -webkit-transform: translateX(-60px) translateY(4px) scale(0.71);
     -moz-transform: translateX(-60px) translateY(4px) scale(0.71);
      -ms-transform: translateX(-60px) translateY(4px) scale(0.71);
       -o-transform: translateX(-60px) translateY(4px) scale(0.71);
          transform: translateX(-60px) translateY(4px) scale(0.71);
  z-index: 1;
  opacity: 1;
}

.item-next {
  visibility: visible;
  -webkit-transform: translateX(60px) translateY(4px) scale(0.71);
     -moz-transform: translateX(60px) translateY(4px) scale(0.71);
      -ms-transform: translateX(60px) translateY(4px) scale(0.71);
       -o-transform: translateX(60px) translateY(4px) scale(0.71);
          transform: translateX(60px) translateY(4px) scale(0.71);
  z-index: 1;
  opacity: 1;
}

.item-center {
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
   -ms-transform: translate(0);
    -o-transform: translate(0);
       transform: translate(0);
  z-index: 2;
  opacity: 1;
}

.prev, .next {
  cursor: pointer;
  background: rgba(2, 2, 2, 0.45);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.15);
  width: 64px;
  height: 64px;
  -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
          border-radius: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
       justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -moz-box-align: center;
       align-items: center;
  cursor: pointer;
  -webkit-transition: background-color .3s,color .3s;
  -o-transition: background-color .3s,color .3s;
  -moz-transition: background-color .3s,color .3s;
  transition: background-color .3s,color .3s;
}

.prev img, .next img {
  max-width: 35%;
}

._1CdwCGBxlTtHzDUKvfEWsA {
  z-index: 2;
  left: 50%;
  margin-left: -530px;
}

.lKX6s_p6ynVhnaiCZJ25h {
  position: absolute;
  top: -webkit-calc(50% - 32px);
  top: -moz-calc(50% - 32px);
  top: calc(50% - 32px);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
       transform: translateY(-50%);
  z-index: 1;
}

._3KOHgGiuwo9eAPvWW3OWXS {
  z-index: 2;
  right: 50%;
  margin-right: -530px;
}

.lKX6s_p6ynVhnaiCZJ25h {
  position: absolute;
  top: -webkit-calc(50% - 32px);
  top: -moz-calc(50% - 32px);
  top: calc(50% - 32px);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
       transform: translateY(-50%);
  z-index: 1;
}

.item__caption {
  position: absolute;
  bottom: 13px;
  left: 10px;
  right: 10px;
}

._2qE8RC7sX1i9XPcjkIsHGt {
  font-weight: 700;
  font-size: 1rem;
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  -o-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #eb1e25;
  opacity: 0.8;
}

.page-auth {
  height: 100%;
  background-color: #fff;
}

.page-auth .gapo-main {
  min-height: 80%;
  background-color: #f2f2f2;
  padding-top: 3.5rem;
  padding-bottom: 5rem;
}

.auth-block {
  max-width: 500px;
  margin: auto;
}

.auth-block .col-input input {
  width: 180px;
}

.auth-block .col-btn .btn {
  width: 108px;
}

.auth__box {
  background-color: #fff;
  padding: 2.5rem;
  width: 558px;
  max-width: 100%;
}
