<div class="modal fade modal-login" tabindex="-1" role="dialog" id="js-authenticated-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title gametv-subtitle text-uppercase text-center ml-auto">Đăng nhập</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="gapo-icon icon-close"></i>
        </button>
      </div>
      <div class="modal-body p-4">
        <form action="" class="">
        <div class="form-group">
          <div class="input-group input-group--username">
            <span class="input-icon text-dark">
              <img src = "assets/images/png-icons/icon-user-red.png" />
            </span>
            <input type="text" class="form-control is-invalid" placeholder="Tên tài khoản">
          <div class="invalid-feedback">Tên tài khoản không hợp lệ</div>
            
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group--password">
            <span class="input-icon text-dark">
              <img src = "assets/images/png-icons/icon-password.png" />
            </span>
            <input type="password" class="form-control" placeholder="Mật khẩu">
            
          </div>
        </div>
        <div class="form-group">
            <div class="d-inline-flex justify-content-between w-100 align-items-center">
                 <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Nhớ tài khoản</label>
                </div>
                <span><a href ="#">Quên mật khẩu ?</a><span>
            </div>
        </div>
       
        <div class="form-group">
          <button class="btn btn-danger btn-lg w-100 mt-3" type="submit">Đăng nhập</button>
          <button class="btn btn-danger-light btn-lg w-100 mt-2" type="submit">Đăng ký</button>
        </div>
      </form>
      </div>
      
    </div>
  </div>
</div>
