<div class="bg__overlay" id="menu-mobi">
    <div class="menu__wraper w-60">
        <ul class="mobile-menu-list">
            <li class="menu-item active">
                <a class="menu-item-name" id="menu-1" href="/"><img src="assets/images/png-icons/icon-home.png" height="16" class="mr-2"  /> TRANG CHỦ</a>
                <div class="close-menu" id="close-menu"><i class="gapo-icon icon-close"></i></div>
            </li>
            <li class="menu-item  menu-has-children">
                <a class="menu-item-name" id="menu-22" href="/"><img src="assets/images/png-icons/icon-aoe.png" height="20" class="mr-2"  /> AOE </a><a href="javascript:;" class="menu-toggle icon-toggle"><img src="assets/images/png-icons/icon-up.png" width="16" /></a> 
                <ul class="sub-menu-list">
                    <li class="menu-item"><a href="/" class="menu-toggle">Bé Yêu Cup 2019</a></li>
                    <li class="menu-item"><a href="/" class="menu-toggle">AoE Việt Nam Open 2019</a></li>
                </ul>
            </li>
            <li class="menu-item  menu-has-children">
                <a class="menu-item-name" id="menu-3" href="/">
                    <img src="assets/images/png-icons/icon-moba.png" height="14" class="mr-2"  /> MOBA 
                </a>
                <a href="javascript:;" class="menu-toggle icon-toggle"><img src="assets/images/png-icons/icon-up.png" width="18" /></a> 
                <ul class="sub-menu-list">
                    <li class="menu-item"><a href="/" class="menu-toggle">DOTA 2</a></li>
                    <li class="menu-item"><a href="/" class="menu-toggle">LMHT</a></li>
                    <li class="menu-item"><a href="/" class="menu-toggle">LIÊN QUÂN</a></li>
                    <li class="menu-item"><a href="/" class="menu-toggle">Huyền thoại Runeterra</a></li>
                </ul>
            </li>
            <li class="menu-item  menu-has-children">
                <a class="menu-item-name" id="menu-9" href="/"><img src="assets/images/png-icons/icon-fps.png" height="20" class="mr-2"  /> FPS </a><a href="javascript:;" class="menu-toggle icon-toggle"><img src="assets/images/png-icons/icon-up.png" width="16" /></a> 
                <ul class="sub-menu-list">
                    <li class="menu-item"><a href="/" class="menu-toggle">CS:GO</a></li>
                    <li class="menu-item"><a href="/" class="menu-toggle">Valorant</a></li>
                    <li class="menu-item"><a href="/" class="menu-toggle">Call of Duty</a></li>
                    <li class="menu-item"><a href="/" class="menu-toggle">Overwatch</a></li>
                    <li class="menu-item"><a href="/" class="menu-toggle">PUBG</a></li>
                    <li class="menu-item"><a href="/" class="menu-toggle">Fortnite</a></li>
                    <li class="menu-item"><a href="/" class="menu-toggle">Apex Legends</a></li>
                </ul>
            </li>
            <li class="menu-item  menu-has-children">
                <a class="menu-item-name" id="menu-36" href="/"><img src="assets/images/png-icons/icon-sport.png" height="16" class="mr-2"  /> SPORTS </a><a href="javascript:;" class="menu-toggle icon-toggle"><img src="assets/images/png-icons/icon-up.png" width="16" /></a> 
                <ul class="sub-menu-list">
                    <li class="menu-item"><a href="/" class="menu-toggle">FIFA</a></li>
                    <li class="menu-item"><a href="/" class="menu-toggle">PES</a></li>
                </ul>
            </li>
            <li class="menu-item  menu-has-children">
                <a class="menu-item-name" id="menu-12" href="/"><img src="assets/images/png-icons/icon-rts.png" height="16" class="mr-2"  /> RTS </a><a href="javascript:;" class="menu-toggle icon-toggle"><img src="assets/images/png-icons/icon-up.png" width="16" /></a> 
                <ul class="sub-menu-list">
                    <li class="menu-item"><a href="/" class="menu-toggle">STARCRAFT</a></li>
                </ul>
            </li>
            <li class="menu-item"><a class="menu-item-name" id="menu-17" href="/"><img src="assets/images/png-icons/icon-congnghe.png" height="16" class="mr-2"  /> CÔNG NGHỆ</a></li>
            <li class="menu-item"><a class="menu-item-name" id="menu-43" href="/"><img src="assets/images/png-icons/icon-console.png" height="16" class="mr-2"  /> PC/CONSOLE</a></li>
            <li class="menu-item  menu-has-children">
                <a class="menu-item-name" id="menu-46" href="/"><img src="assets/images/png-icons/icon-online.png" height="18" class="mr-2"  /> GAME ONLINE </a><a href="javascript:;" class="menu-toggle icon-toggle"><img src="assets/images/png-icons/icon-up.png" width="16" /></a> 
                <ul class="sub-menu-list">
                    <li class="menu-item"><a href="/" class="menu-toggle">Game Mobile</a></li>
                </ul>
            </li>
            <li class="menu-item"><a class="menu-item-name" id="menu-31" href="/lien-he"><img src="assets/images/png-icons/icon-lienhe.png" height="16" class="mr-2"  /> LIÊN HỆ</a></li>
           
            <li class="menu-item pl-2">
                <a class="menu-item-name pl-4" href="/"> CHÍNH SÁCH BẢO MẬT</a>
            </li>
            <li class="menu-item pl-2">
                <a class="menu-item-name menu-modal pl-4" href="#js-authenticated-modal" data-toggle="modal" >
                ĐĂNG NHẬP
                </a>
            </li>
            <li class="menu-item pl-2">
                <a class="menu-item-name menu-modal pl-4" href="#js-authenticated-register-modal" data-toggle="modal">
                ĐĂNG KÝ
                </a>
            </li>
             <li class="menu-item pl-2">
                <a class="menu-item-name d-inline-flex align-items-center pl-4" href="#">
                    GIAO DIỆN <div class="checkbox-darkmode ml-5 d-inline-flex align-items-center" id="js-dark-mode"><span></span></div>
                </a>
            </li>
            </ul>
    </div>
</div>