<div class="modal fade modal-login" tabindex="-1" role="dialog" id="js-authenticated-register-modal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title gametv-subtitle text-uppercase text-center ml-auto">Đăng ký</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="gapo-icon icon-close"></i>
        </button>
      </div>
      <div class="modal-body p-4">
        <form action="" class="">
        <div class="form-group">
          <div class="input-group input-group--username">
            <span class="input-icon text-dark">
              <img src = "assets/images/png-icons/icon-user-red.png" />
            </span>
            <input type="text" class="form-control is-invalid" placeholder="Tên tài khoản">
          <div class="invalid-feedback">Tên tài khoản không hợp lệ</div>
            
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group--password">
            <span class="input-icon text-dark">
              <img src = "assets/images/png-icons/icon-password.png" />
            </span>
            <input type="password" class="form-control" placeholder="Mật khẩu">
            
          </div>
        </div>
        <div class="form-group">
          <div class="input-group input-group--password">
            <span class="input-icon text-dark">
              <img src = "assets/images/png-icons/icon-password.png" />
            </span>
            <input type="password" class="form-control" placeholder="Nhập lại mật khẩu">
            
          </div>
        </div>
        <div class="form-group">
          <span>Bằng việc click vào nút "Đăng ký" bạn đã đồng ý vào  Điều khoản sử dụng của chung tôi</span>
        </div>
        
       
        <div class="form-group">
          <button class="btn btn-danger-light btn-lg w-100 mt-2" type="submit">Đăng ký</button>
        </div>
      </form>
      </div>
      
    </div>
  </div>
</div>
