<div class="wrap">
  <div class="slider">
    <div class="item">
      <img src="assets/images/gametv/size733x426.jpg" class="border-radius-05" alt="">
    </div>
    <div class="item">
      <img src="assets/images/gametv/2size733x426.jpg" class="border-radius-05" alt="">
    </div>
    <div class="item">
      <img src="assets/images/gametv/3size733x426.png" class="border-radius-05" alt="">
    </div>
    <div class="item">
      <img src="assets/images/gametv/4size733x426.png" class="border-radius-05" alt="">
    </div>
    <div class="item">
      <img src="assets/images/gametv/5size733x426.jpg" class="border-radius-05" alt="">
    </div>

  </div>
</div>
