<div class="gametv-topbar d-flex w-100 align-items-center">
  <div class="row justify-content-center w-100">
    <div class="col col-1144  ">
      <div class="row">
        {# login+search-top-left #}
        <div class="col-6 d-flex justify-content-between">
          <ul class="topbar__login topbar__auth  m-0 p-0 list-unstyled d-flex align-items-center text-nowrap">
            <li>
              <span class="font-weight-bold  d-inline-block"><img src = "assets/images/png-icons/icon-user.png" width="18" class="mr-2 ml-2" /> Phạm Thanh Long</span></li>
              <li><a href="#" class="text-danger"><span class=" text-light d-inline-block"><img src = "assets/images/png-icons/icon-mail.png" width="18" class="mr-2" /> </span><span class="text-size-small font-weight-normal count-mail">22</span></a></li>
              <li><a href="#" class="text-danger"><span class=" text-light d-inline-block"><img src = "assets/images/png-icons/icon-logout.png" width="18" class="mr-2" /> </span><span class="text-size-small text-secondary font-weight-normal">Thoát</span></a></li>
          </ul>
          <form class="search__header d-flex align-items-center">
            <input type="text" class="form-control" placeholder="Tìm kiếm .." />
            <button class="btn"><img src="/assets/images/png-icons/icon-search.png" alt="Search" /></button>
          </form>
        </div>
        {# navbar-top-right #}
        <div class="col-6 d-flex justify-content-end">
          <ul class="topbar__menu m-0 p-0 list-unstyled d-flex align-items-center text-nowrap">
            <li>
              <div class="checkbox-darkmode" id="js-dark-mode"><span></span></div>
            </li>
              <li class="ml-3"><a href="#" >Thoả thuận chia sẻ nội dung</a></li>
              <li class="ml-3"><a href="#" >Chính sách bảo mật</a></li>
              <li class="ml-3"><a href="#" ><img src="assets/images/png-icons/icon-facebook.png" alt="Facebook" /></a></li>
              <li class="ml-2"><a href="#" ><img src="assets/images/png-icons/icon-youtube.png" alt="YouTube" /></a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
<div class="gametv-header ">
  <div class="row justify-content-center">
    <div class="col col-1144 justify-content-between d-inline-flex align-items-center">
      <div class="header__logo d-flex  align-items-center">
        <a href="/" class="header__logo-lightmode"><img src="./assets/images/gametv/logo.png"/></a>
        <a href="/" class="header__logo-darkmode"><img src="./assets/images/gametv/logo-dark.png"/></a>
      </div>
      <div class="header__ads d-flex align-items-center justify-content-center bg-white">
        <a href="#">
          <img class="w-100" src="assets/images/gametv/bannerHeader.jpg" alt="banner" />
        </a>
      </div>
    </div>
  </div>
</div>


