<div class="gametv-header ">
  <div class="row">
    <div class="col">
        <div class="header__menu d-flex  align-items-start justify-content-center flex-column">
            <a class="ml-2" id="showMenu"><img src="./assets/images/png-icons/icon-menu.png" height="25" /></a>
            <div class="ml-2 mt-2 font-size-small">Menu</div>
        </div>
    </div>
    <div class="col">
        <div class="header__logo d-flex  align-items-center justify-content-center">
            <a href="/" class="header__logo-lightmode"><img src="./assets/images/gametv/logo.png" height="45" /></a>
            <a href="/" class="header__logo-darkmode"><img src="./assets/images/gametv/logo-dark.png" height="45"/></a>
        </div>
    </div>
    <div class="col">
        <div class="header__menu d-flex  align-items-end justify-content-center flex-column">
            <a id="btnSearch" class="mr-4"><img src="./assets/images/png-icons/icon-search.png" height="25" /></a>
            <div class="mr-2 mt-2 font-size-small">Tìm kiếm</div>
        </div>
    </div>
  </div>
</div>