<div class="gapo-comment media align-items-center">
  <a href="" class="comment__action">
    <i class="gapo-icon icon-camera"></i>
  </a>
  <div class="comment__form rounded-lg d-flex align-items-end">
    <textarea name="" class="form-control" placeholder="Viết bình luận…"></textarea>
    <button class="btn btn-transparent comment__action">
      <i class="gapo-icon icon-emotion"></i>
    </button>
  </div>
  <a href="" class="comment__action">
    <i class="gapo-icon icon-send-message"></i>
  </a>
</div>
