<div class="post-item__head">
  <div class="post-item__info media align-items-center">
    {% if canBack %}
    <a href="./notification.html" class="post-item__action mr-3">
      <i class="gapo-icon icon-arrow-left"></i>
    </a>
    {% endif %}
    <a href="" class="post-item__avatar gapo-avatar gapo-avatar--40 mr-2">
      <img src="./assets/images/avatar.jpg" alt="">
    </a>
    <div class="media-body">
      <a href="./profile.html" class="post-item__author d-flex align-items-center font-weight-semi-bold mb-1 text-body">
        MiMoSa Latasa
        <i class="gapo-icon icon-verify text-blue font-size-large ml-1"></i>
      </a>
      <div class="d-flex align-items-center font-size-small text-secondary">
        <a href="/" class="text-secondary">8 phút</a>
        <span class="px-1">·</span>
        <i class="gapo-icon icon-globe-alt"></i>
      </div>
    </div>
    <div class="dropdown post-item__more">
      <button class="btn btn-transparent shadow-none" type="button" id="post-dropdown" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="gapo-icon icon-more-option float-left"></i>
      </button>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="post-dropdown">
        <a class="dropdown-item" href="#">Báo cáo</a>
        <a class="dropdown-item" href="#">Bỏ theo dõi</a>
      </div>
    </div>
  </div>
</div>
