<div class="post-item">
  {% include "./_head.njk" %}
  <div class="post-item__content">
    <div class="post-item__hashtag">
      <a href="">#chucmungsinhnhat</a>
      <a href="">#chucmungsinhnhat</a>
    </div>
    <br />
    Cosmetic Surgery Restores Normal Structures Of The Body
    Cosmetic Surgery Restores Normal Structures Of The Body
    Cosmetic Surgery Restores Normal Structures Of The Body
    <br />
    <a href="" class="post-item__content-toggle">Xem thêm</a>
  </div>
  {% block postAttachments %}{% endblock %}
  {% include "./_stats.njk" %}
  {% include "./_actions.njk" %}
  {% if hasComment %}
    {% include "./_comment.njk" %}
    {% include "./_comment-form.njk" %}
  {% endif %}
</div>
